@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

.gradient-text {
  background: linear-gradient(90deg, #00fff7, #ff00ff, #00fff7);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
